body{
    background-image: url("VSS_LogoBackground.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;  
}
.navbar{
  background-color: rgb(0,137,206) !important; 

}
.navbar form button{
    background-color: rgb(0,137,206);
    color: rgb(255, 255, 255);
}
.navbar form button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0,137,206); 
}
}
.VSSHeading{
    color: rgb(38, 52, 118);
    font-size: 1.2em;
    font-weight: bolder;    
}
.VSSDisclaimer{
    color: rgb(38, 52, 118);
    font-size: 1.2em;
    font-weight: bolder;   
}
.VSSInterstate{
    color: rgb(0, 0, 0);
    font-size: 1em;
    font-weight: bolder;   
}
.tab {
  margin-left: 20px;
}